<div class="view-logs-toolbar" *ngIf="showViewLogs">
  <button class="toolbar-btn" (click)="viewLogs()">View Logs</button>
</div>

<div class="run-snippet" *ngIf="runSnippet">
  <span class="snippet-label">To execute this plan run:</span>
  <code class="snippet-code">{{ runSnippet }}</code>
</div>

<div class="file-viewer" *ngIf="loading(); else loadedBody">
  <span class="loading-indicator">Loading...</span>
</div>

<ng-template #loadedBody>
  <div class="file-viewer" *ngIf="error() as err; else viewer">
    <span class="error-message">{{ err }}</span>
  </div>

  <ng-template #viewer>
    <div class="file-viewer">
      <div class="file-content">
        <div class="file-toolbar" *ngIf="isMarkdown()">
          <button (click)="toggleView()">
            {{ isRendered() ? 'View source' : 'View rendered' }}
          </button>
        </div>

        <div class="file-inner">
          <ng-container *ngIf="isMarkdown(); else notMarkdown">
            <div *ngIf="isRendered(); else markdownSource" class="markdown-content" [innerHTML]="safeHtml()"></div>
            <ng-template #markdownSource>
              <pre class="text-content">{{ content() }}</pre>
            </ng-template>
          </ng-container>

          <ng-template #notMarkdown>
            <div *ngIf="isJson()">
              <pre class="json-content">{{ formatJson() }}</pre>
            </div>

            <div *ngIf="isPlainText()">
              <pre class="text-content">{{ content() }}</pre>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </ng-template>
</ng-template>
